
*{
    margin: 0px;
    padding: 0px;
}

.nav-container{
    background-color: #101828;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    justify-content: space-around;
    
}