@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.parent-container> .menu-button{
    background-color: blueviolet;
    color: white;
    max-width: 150px;
    text-align: center;
    padding: 10px;
}
.parent-container > .menu-options{
    max-width: 300px;
    padding: 10px;
    display: none;
    flex-direction: column;
    gap: 5px;
    background-color: aliceblue;
}

.parent-container > .menu-options> a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

.parent-container> .menu-options> a:hover{
    background-color: black;
    color: white;
}

.parent-container:hover> .menu-options{
    display: flex;
}